[submodule "duts/riscv_sw/soft_riscv"]
	path = duts/riscv_sw/soft_riscv
	url = https://github.com/AEW2015/soft_riscv.git
[submodule "host_sw/pypci"]
	path = host_sw/pypci
	url = https://github.com/AEW2015/pypci.git
[submodule "SpyDrNet/spydrnet"]
	path = SpyDrNet/spydrnet
	url = https://github.com/byuccl/spydrnet.git
[submodule "SpyDrNet/spydrnet-shrec"]
	path = SpyDrNet/spydrnet-shrec
	url = https://github.com/byuccl/spydrnet-shrec.git
[submodule "duts/vex/scala/VexRiscv"]
	path = duts/vex/scala/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
