[submodule "duts/riscv_sw/soft_riscv"]
	path = duts/riscv_sw/soft_riscv
	url = https://github.com/AEW2015/soft_riscv.git
[submodule "host_sw/pypci"]
	path = host_sw/pypci
	url = https://github.com/AEW2015/pypci.git
[submodule "SpyDrNet/spydrnet"]
	path = SpyDrNet/spydrnet
	url = https://github.com/byuccl/spydrnet.git
[submodule "SpyDrNet/spydrnet-shrec"]
	path = SpyDrNet/spydrnet-shrec
	url = https://github.com/byuccl/spydrnet-shrec.git
[submodule "duts/vex/scala/VexRiscv"]
	path = duts/vex/scala/VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv.git
[submodule "duts/pico/picorv32"]
	path = duts/pico/picorv32
	url = https://github.com/cliffordwolf/picorv32.git
[submodule "duts/taiga/Taiga"]
	path = duts/taiga/Taiga
	url = https://gitlab.com/sfu-rcl/Taiga.git
[submodule "duts/kron/kronos"]
	path = duts/kron/kronos
	url = https://github.com/SonalPinto/kronos.git
